name: ci
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: setup
        if: success()
        uses: actions/setup-go@v1
        with:
          go-version: 1.13.4
      - name: ci
        if: success()
        run: make ci
      - name: codecov
        if: success()
        run: make codecov
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
